---
layout: default
---
<div class="home">
  <section>
    <h1>Bonjour, Hello!</h1>
    <div class="container">
      <div class="row">
        <div class="col-2 no-lpadding">
           <img src="assets/me_2023.png" id="home-profile"/>
        </div>
        <div class="col-10 no-rpadding">
            <p class="justified">I am a Ph.D. candidate at the <a href="http://gfx.lab.mcgill.ca/">
              McGill Graphics Lab (MGL)</a>, where I am advised by
              <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>. 
            My main research interests lie at the intersection of
               image synthesis and machine learning, where I focus on designing efficient algorithms for solving forward and inverse rendering problems.
              In particular, I am interested in differentiable rendering, 3D representation learning and neural signed distance fields (SDFs). I also have an interest for high-dimensional sampling and Monte Carlo denoising.
            </p>
            <p class="justified">
              I was an intern at <a href="https://research.adobe.com/">Adobe Research</a> in 2023, 
              <a href="https://about.facebook.com/realitylabs/">Reality Labs (RL) Research</a> in 2021, and 
              <a href="https://www.nvidia.com/en-us/research/">NVIDIA Research</a> in 2020/21.
            </p>

            <p>If you'd like to chat, feel free to send me an <a href="mailto:{{site.email}}">email</a>.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h1>Latest News <span class="showmore"><a href="news">(See more <i class="fas fa-arrow-right fa-xs"></i>)</a></span></h1>
    <dl>
      {% assign news = site.data.news | sort: 'date' | reverse %}
      {% for n in news limit:3 %}
        <dt class="newslist-date">{{ n.date }}</dt>
        <dd>{{ n.news }}</dd>
      {% endfor %}
    </dl>
  </section>

  <section>
    <h1>Selected Publications <span class="showmore"><a href="publications">(See more <i class="fas fa-arrow-right fa-xs"></i>)</a></span></h1>
    <div class="container">
      {% assign pubs = site.publications | sort: 'featured' %}
      {% for p in pubs limit:1 %}
      <div class="row bottom-padding">
        <div class="col-2 no-padding">
        {% if p.thumbnail-video %}
          <a href="{{ p.permalink }}">
          <video style="width: 100%; margin-top: 20px; margin-bottom: 20px;" autoplay muted loop>
            <source src="{{ p.thumbnail-video }}" type="video/mp4">
          </video>
          </a>
        {% else %}
          <a href="{{ p.permalink }}"><img class="project-thumb" src="{{ p.thumbnail }}"/></a>
        {% endif %}
        </div>
        <div class="col-10 no-rpadding">
          <h3><a href="{{ p.permalink }}">{{ p.title }}</a></h3>
          <p>
            <!-- List of authors -->
            {% for a in p.authors %}
              {% assign firstshort = a.author.name | slice: 0 %}
              {% assign lastname = a.author.name | split: " " | last %}
              {% if forloop.last and forloop.length != 1 %}
                and
                {% if a.author.name == "Joey Litalien" %}
                  <b>{{ firstshort }}</b>
                {% else %}
                {{ firstshort }}. {{ lastname }}
                {% endif %}
              {% else %}
                {% if a.author.name == "Joey Litalien" %}
                  <b>{{ firstshort }}. {{ lastname }}</b>{% if forloop.length != 1 %}, {% endif %}
                {% else %}
                  {{ firstshort }}. {{ lastname }},
                {% endif %}
              {% endif %}
            {% endfor %}
            <br>
            <!-- Journal information -->
            <i>
              {{ p.journal }}
              {% if p.journal-note %}
                ({{ p.journal-note }}),
              {% endif %}
            </i>
            {% assign dl = p.downloads %}
            {% if dl.published %} {{ p.month }} {% endif %} {{ p.year }}
          </p>
          <ul class="fa-ul inline-list">
            <li class="fa-li"><i class="fas fa-globe-americas"></i>
              <a href="{{ p.permalink }}">Project page</a>
            </li>
            {% if dl.published %}
              <li class="fa-li"><i class="far fa-file-pdf"></i>
                <a href="{{ dl.paper.file }}">Paper ({{ dl.paper.size }} .pdf)</a>
              </li>
              <!--{% if dl.doi.url %}
              <li class="fa-li"><i class="fas fa-atlas"></i>
                <a href="{{ dl.doi.url }}">Publisher's version</a>
              </li>
              {% endif %}-->
              {% if dl.supplementary.file %}
              <li class="fa-li"><i class="far fa-file-archive"></i>
                <a href="{{ dl.supplementary.file }}">Supp. ({{ dl.supplementary.size }} .zip)</a>
              </li>
              {% endif %}
              {% if dl.code.url and dl.code.published %}
              <li class="fa-li"><i class="fab fa-github"></i>
                <a href="{{ dl.code.url }}">Code</a>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!--
  <section>
    <h1>Selected Projects <span class="showmore"><a href="publications">(See more <i class="fas fa-arrow-right fa-xs"></i>)</a></span></h1>
    <div class="container">
      {% assign projects = site.projects | sort: 'featured' | reverse %}
      {% for p in projects limit:2 %}
        {% if p.featured > 0 %}
        <div class="row bottom-padding">
          {% if p.thumbnail-video %}
          <div class="col-2 no-padding">
              <a href="{{ p.permalink }}"><video class="project-thumb" src="{{ p.thumbnail-video }}" autoplay muted loop/></a>
          </div>
          {% else %}
          <div class="col-2 no-padding">
            <a href="{{ p.permalink }}"><img class="project-thumb" src="{{ p.thumbnail }}"/></a>
          </div>
          {% endif %}
          <div class="col-10 no-rpadding">
            <h3><a href="{{ p.permalink }}">{{ p.short-title }}</a></h3>
            <p class="justified">{{ p.summary }}</p>
            <ul class="fa-ul inline-list">
              {% if p.report.file %}
              <li class="fa-li"><i class="far fa-file-pdf"></i>
                <a href="{{ dl.paper.file }}">Report ({{ p.report.size }} pdf)</a>
              </li>
              {% endif %}
              {% if p.code.url %}
              <li class="fa-li"><i class="fab fa-github"></i>
                <a href="{{ p.code.url }}">Code (Git)</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}
      {% endfor %}
  </section>
-->

</div>
