<section>
<h1>Selected Projects</h1>
<div class="container">
  <div class="row">
    <div class="col-5 no-lpadding">
        <img src="http://placehold.it/300x200"/>
    </div>
    <div class="col-7 no-rpadding">
      <h2><a href="#">Global Illumination Renderer</a></h2>
      <p>A physically-based renderer written in C++11 with a focus on state-of-the-art light transport algorithms and material models. Uses Nori, a distilled version of Mitsuba, as base code.</p>
      <p>
      <button>Project Page</button>
      <button>GitHub</button>
      </p>
    </div>
  </div>
  
  <div class="row top-padding">
    <div class="col-5 no-lpadding">
        <img src="http://placehold.it/300x200"/>
    </div>
    <div class="col-7 no-rpadding">
      <h2><a href="#">2D Fluid Simulation</a></h2>
      <p>Different numerical solvers for the Poisson problem for 2D fluids in a box. Implemented in Java with JBLAS library.</p>
      <p>
      <button>Project Page</button>
      <button>GitHub</button>
      </p>
    </div>
  </div>

</div>
</section>
